USE [master]
GO
/****** Object:  Database [QL_CUAHANGDONGHO]    Script Date: 7/14/2021 8:40:39 AM ******/
CREATE DATABASE [QL_CUAHANGDONGHO]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_CUAHANGDONGHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_CUAHANGDONGHO]
GO
/****** Object:  Table [dbo].[CHATLIEU]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHATLIEU](
	[IDDONGHO] [varchar](30) NULL,
	[IDCHATLIEU] [varchar](30) NOT NULL,
	[SIZEKINH] [varchar](20) NULL,
	[LOAIKINH] [nvarchar](30) NULL,
	[LOAIDAY] [nvarchar](30) NULL,
	[CHATLIEU] [nvarchar](30) NULL,
	[MAUTOMATSO] [nvarchar](30) NULL,
	[MAUTOVO] [nvarchar](30) NULL,
	[MUCCHONGNUOC] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCHATLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[IDHOADON] [int] NOT NULL,
	[IDDONGHO] [varchar](30) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC,
	[IDDONGHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONGHO]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONGHO](
	[IDDONGHO] [varchar](30) NOT NULL,
	[TENDONGHO] [nvarchar](50) NULL,
	[GIABAN] [float] NULL,
	[XUATSU] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[IDLOAI] [varchar](10) NULL,
	[IDTHUONGHIEU] [varchar](10) NULL,
	[HINH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDONGHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONGHOYEUTHICH]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONGHOYEUTHICH](
	[IDDONGHO] [varchar](30) NOT NULL,
	[IDKHACHHANG] [varchar](30) NOT NULL,
	[NGAYTHEM] [date] NULL,
 CONSTRAINT [PK_DONGHOYEUTHICH] PRIMARY KEY CLUSTERED 
(
	[IDDONGHO] ASC,
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHOADON] [int] NOT NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
	[IDKHACHHANG] [varchar](30) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[EMAIL] [varchar](30) NOT NULL,
	[PASS] [varchar](30) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NAMSINH] [int] NULL,
	[SDT] [varchar](20) NULL,
	[NOISINH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIDONGHO]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIDONGHO](
	[IDLOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[HINH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANTRI]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANTRI](
	[EMAIL] [varchar](30) NOT NULL,
	[PASS] [varchar](30) NULL,
	[HOTEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUANTRI] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 7/14/2021 8:40:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[IDTHUONGHIEU] [varchar](10) NOT NULL,
	[TENTHUONGHIEU] [nvarchar](50) NULL,
	[HINH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHATLIEU] ([IDDONGHO], [IDCHATLIEU], [SIZEKINH], [LOAIKINH], [LOAIDAY], [CHATLIEU], [MAUTOMATSO], [MAUTOVO], [MUCCHONGNUOC]) VALUES (N'D154RWH', N'CL1', N'40mm', N'SAPHIRE(KÍNH CHỐNG TRẦY)', N'DÂY DA', N'THÉP KHÔNG GỈ', N'TRẮNG', N'VÀNG HỒNG', N'3ATM')
INSERT [dbo].[CHATLIEU] ([IDDONGHO], [IDCHATLIEU], [SIZEKINH], [LOAIKINH], [LOAIDAY], [CHATLIEU], [MAUTOMATSO], [MAUTOVO], [MUCCHONGNUOC]) VALUES (N'BM6774-51A', N'CL10', N'36mm', N'SAPHIRE(KÍNH CHỐNG TRẦY)', N'DÂY KIM LOẠI', N'THÉP KHÔNG GỈ', N'TRẮNG', N'VÀNG', N'3ATM')
INSERT [dbo].[CHATLIEU] ([IDDONGHO], [IDCHATLIEU], [SIZEKINH], [LOAIKINH], [LOAIDAY], [CHATLIEU], [MAUTOMATSO], [MAUTOVO], [MUCCHONGNUOC]) VALUES (N'BH5003-00L', N'CL11', N'42mm', N'MINERAL CRYSTAL(KÍNH CỨNG)', N'DÂY DA', N'THÉP KHÔNG GỈ', N'XANH', N'VÀNG', N'5ATM')
INSERT [dbo].[CHITIETHOADON] ([IDHOADON], [IDDONGHO], [SOLUONG], [THANHTIEN], [DONGIA]) VALUES (1, N'BH5003-00L', 2, 6720000, 3360000)
INSERT [dbo].[CHITIETHOADON] ([IDHOADON], [IDDONGHO], [SOLUONG], [THANHTIEN], [DONGIA]) VALUES (1, N'D154RWH', 1, 135830000, 135830000)
INSERT [dbo].[CHITIETHOADON] ([IDHOADON], [IDDONGHO], [SOLUONG], [THANHTIEN], [DONGIA]) VALUES (2, N'BH5003-00L', 1, 3360000, 3360000)
INSERT [dbo].[DONGHO] ([IDDONGHO], [TENDONGHO], [GIABAN], [XUATSU], [GIOITINH], [IDLOAI], [IDTHUONGHIEU], [HINH]) VALUES (N'AN8196-55E', N'CITIZEN AN8196-55E', 5630000, N'MADEINJAPAN', N'NAM', N'CHO', N'CI', N'CI4.jpg')
INSERT [dbo].[DONGHO] ([IDDONGHO], [TENDONGHO], [GIABAN], [XUATSU], [GIOITINH], [IDLOAI], [IDTHUONGHIEU], [HINH]) VALUES (N'BH5003-00L', N'CITIZEN BH5003-00L', 3360000, N'JAPANMOVT', N'NAM', N'QUARTZ', N'CI', N'CI3.jpg')
INSERT [dbo].[DONGHO] ([IDDONGHO], [TENDONGHO], [GIABAN], [XUATSU], [GIOITINH], [IDLOAI], [IDTHUONGHIEU], [HINH]) VALUES (N'BM6774-51A', N'CITIZEN BM6774-51A', 6490000, N'JAPANMOVT', N'NAM', N'SO', N'CI', N'CI2.jpg')
INSERT [dbo].[DONGHOYEUTHICH] ([IDDONGHO], [IDKHACHHANG], [NGAYTHEM]) VALUES (N'AN8196-55E', N'THANG', CAST(0xBF420B00 AS Date))
INSERT [dbo].[DONGHOYEUTHICH] ([IDDONGHO], [IDKHACHHANG], [NGAYTHEM]) VALUES (N'BH5003-00L', N'THANG', CAST(0xBF420B00 AS Date))
INSERT [dbo].[HOADON] ([IDHOADON], [NGAYLAP], [TONGTIEN], [IDKHACHHANG]) VALUES (1, CAST(0xBF420B00 AS Date), 142550000, N'THANG')
INSERT [dbo].[HOADON] ([IDHOADON], [NGAYLAP], [TONGTIEN], [IDKHACHHANG]) VALUES (2, CAST(0xBF420B00 AS Date), 139190000, N'THANG')
INSERT [dbo].[HOADON] ([IDHOADON], [NGAYLAP], [TONGTIEN], [IDKHACHHANG]) VALUES (3, CAST(0xBF420B00 AS Date), 139190000, N'THANG')
INSERT [dbo].[KHACHHANG] ([EMAIL], [PASS], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NOISINH]) VALUES (N'THANG', N'123', N'hoten', N'nam', 2000, N'012312', N'aa')
INSERT [dbo].[KHACHHANG] ([EMAIL], [PASS], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NOISINH]) VALUES (N'thang@g.com', N'123123123', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([EMAIL], [PASS], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NOISINH]) VALUES (N'thang@g2.com', N'123123123', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LOAIDONGHO] ([IDLOAI], [TENLOAI], [HINH]) VALUES (N'AUTO', N'ĐỒNG HỒ CƠ', N'AUTO.jpg')
INSERT [dbo].[LOAIDONGHO] ([IDLOAI], [TENLOAI], [HINH]) VALUES (N'CHO', N'ĐỒNG HỒ THỂ THAO BẤM GIỜ CHRONOGRAPH', N'CHRONOGRAPH.jpg')
INSERT [dbo].[LOAIDONGHO] ([IDLOAI], [TENLOAI], [HINH]) VALUES (N'QUARTZ', N'ĐỒNG HỒ PIN QUARTZ', N'QUARTZ.jpg')
INSERT [dbo].[THUONGHIEU] ([IDTHUONGHIEU], [TENTHUONGHIEU], [HINH]) VALUES (N'CA', N'CASIO', N'CASIO.jpg')
INSERT [dbo].[THUONGHIEU] ([IDTHUONGHIEU], [TENTHUONGHIEU], [HINH]) VALUES (N'CI', N'CITIZEN', N'CITIZEN..jpg')
INSERT [dbo].[THUONGHIEU] ([IDTHUONGHIEU], [TENTHUONGHIEU], [HINH]) VALUES (N'CK', N'CAVIN KEIN', N'CK.jpg')
ALTER TABLE [dbo].[CHATLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHATLIEU_DONGHO] FOREIGN KEY([IDDONGHO])
REFERENCES [dbo].[DONGHO] ([IDDONGHO])
GO
ALTER TABLE [dbo].[CHATLIEU] CHECK CONSTRAINT [FK_CHATLIEU_DONGHO]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_DONGHO] FOREIGN KEY([IDDONGHO])
REFERENCES [dbo].[DONGHO] ([IDDONGHO])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_DONGHO]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([IDHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_LOAI] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAIDONGHO] ([IDLOAI])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_LOAI]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_THUONGHIEU] FOREIGN KEY([IDTHUONGHIEU])
REFERENCES [dbo].[THUONGHIEU] ([IDTHUONGHIEU])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_THUONGHIEU]
GO
ALTER TABLE [dbo].[DONGHOYEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_DONGHOYEUTHICH_DONGHO] FOREIGN KEY([IDDONGHO])
REFERENCES [dbo].[DONGHO] ([IDDONGHO])
GO
ALTER TABLE [dbo].[DONGHOYEUTHICH] CHECK CONSTRAINT [FK_DONGHOYEUTHICH_DONGHO]
GO
ALTER TABLE [dbo].[DONGHOYEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_DONGHOYEUTHICH_KHACHHANG] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([EMAIL])
GO
ALTER TABLE [dbo].[DONGHOYEUTHICH] CHECK CONSTRAINT [FK_DONGHOYEUTHICH_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([EMAIL])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
USE [master]
GO
